<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button  mat-icon-button *ngFor="let item of iconMenuItems" [routerLink]="item.path" routerLinkActive="active" class="example-icon" aria-label="item.desc">
    <mat-icon>{{ item.icon }}</mat-icon>
  </button>
  <button  mat-icon-button *ngIf="!authService.isLoggedIn" routerLink="/auth" routerLinkActive="active"class="example-icon" aria-label="item.desc">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button *ngIf="authService.isLoggedIn" (click)="authService.logout()" class="example-icon" aria-label="item.desc">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
